node_modules/
*.log
.env
.DS_Store

# Ignorera dist-mappar överallt ...
dist/

# ... MEN tillåt dist i roten
!dist/
!dist/**

# (om du har frontend/dist också, lägg till)
!frontend/dist/
!frontend/dist/**
